{% extends "tutormanager/layout.html" %}
{% load static %}

{% block body %}
    
    <div class="card w-75 mx-auto mt-5">
        <div class="card-body">
            <h2 class="my-3">@{{ profile_user.username }}</h2>
            <div>
                <div>
                    <span class="font-weight-bold">Name: </span><span>{{ profile_user.first_name }} {{ profile_user.last_name }}</span>

                </div>
                <div>
                    <span class="font-weight-bold">Email: </span><span>{{ profile_user.email }} </span>
                </div>
            </div>
        </div>
    <div> 

{% endblock %}
